/* VARIABLES
========================*/
:root {
  /* café: 51,38,16
    negro: 0,0,0 */
  /*brown or black*/
  --main-bg-color: rgba(51,38,16,1);

  /*grey*/
  --secondary-bg-color: rgba(0,0,0,1);
  /*gold*/
  --tertiary-bg-color: rgba(0,0,0,1);
  /*lightblue*/
  --quaternary-bg-color: rgba(0,0,0,1);
  /*mediumblue*/
  --quinary-bg-color: rgba(0,0,0,1);
  /*brightblue*/
  --senary-bg-color: rgba(0,0,0,1);

  /*white*/
  --white-bg-color: rgba(255,255,255,1);
}

/* CLASES UTILITARIAS
========================*/
/* imagen pequeña */
.small-img {
  border: 1px solid var(--main-bg-color);
  padding: 0.5rem;
  width: 250px;
}
/* imagen mediana */
.medium-img {
  border: 1px solid var(--main-bg-color);
  padding: 0.5rem;
  width: 350px;
}
/* imagen grande */
.large-img {
  border: 1px solid var(--main-bg-color);
  padding: 0.5rem;
  width: 450px;
}
/* alineación flotaente izquierda */
.img-float-left {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
/* alineación flotaente derecha */
.img-float-right {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
/* alineación central de imagen dentro de .media-section */
.media-section {
  text-align: center;
}

/* ****************************************************** */

/* ESTILO GENERAL
========================*/

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: var(--white-bg-color);
}

.container {

}

header {
  border-top: 3px solid var(--main-bg-color);
  border-bottom: 3px solid var(--main-bg-color);
  display: flex;
  padding: 0.5rem;
  flex-wrap:wrap;
  justify-content: space-around;
}
header .logo-page {
  background: url("../assets/logoLOG.png") no-repeat;
  background-color: white;
  background-position: center;
  background-size: 70px;
  height: 70px;
  min-width: 70px;
}
header .navigation-page {
  margin-top: 1rem;
  min-width: 700px;
}
h1 { font-size: 0;}
p { margin-bottom: 0.5rem;}

/* SECCIÓN NAVEGACIÓN
========================*/
ul{
  list-style: none;
  font-size: 1rem;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* Enlaces de nivel 1 */
.main-nav li .a-l1{
  background: var(--main-bg-color);
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
.main-nav li .a-l1:hover{
  color: #000;
  background-color: #eaeaea;
}
/* Enlaces de nivel 2 */
.main-nav li .a-l2{
  background: white;
  color: var(--main-bg-color);
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
.main-nav li .a-l2:hover{
  color: #000;
  background-color: #eaeaea;
}

.main-nav>li{
  /*float: left;*/
  text-align:center;
}
.main-nav>li>ul{
  display: none;
}
.main-nav>li:hover>ul {
  display:block;
  font-size: 0.9rem;
  position: absolute;
}
a.test {
  background:rgba(255,255,255,0.9);
  color: var(--main-bg-color);
}

/* SECCIÓN PORTADA
========================*/
section.cover-page {
  background: url("../assets/templo.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: 3px solid var(--main-bg-color);
  height: 400px;
}
.title-page {
  background: var(--main-bg-color);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.title-page h1{
  font-size: 1.5rem;
  margin:0;
  padding: 0;
}

main {
  background: var(--main-bg-color);
}

/* SECCIÓN TEMÁTICA
========================*/
.content-page { background: white;}
.content-page article {
  background: white;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}
.title-section h2 {
  color: var(--main-bg-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* PIE */
footer {
  align-items: flex-end;
  background: #CCC;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
  .list-important-links li a{
    color: var(--main-bg-color);
    font-size: 0.8rem;
    text-decoration: none;
  }
  .list-important-links li a{
    color: var(--main-bg-color);
    font-size: 0.8rem;
    text-decoration: none;
  }
  .location {
    width: 120px;
    text-align: right;
  }
.imagotipo {
  background: var(--main-bg-color);
  padding: 0.5rem;
  text-align: center;
}
.imagotipo img {
  width: 35px;
}
footer address {
  font-size: 0.8rem;
  font-style: normal;
}

/* media queries */
@media (max-width: 800px) {
  body{ }
  header .navigation-page {
    min-width: 100%;
  }
  .main-nav {
    display: block;
    /*max-width: 100%;*/
  }
  .main-nav>li {
    border-bottom: 2px solid white;
  }
  .main-nav>ul>li>ul {
    color: red;
    background: silver;
  }
  .main-nav>li:hover>ul {

    display: block;
    position: static;
  }

  .small-img, .medium-img, .large-img {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}
